/* font-family for entire website */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600;800&display=swap');

body,
html {
    background-image: url(../images/ripples.png);
    font-family: 'Baloo Tamma 2';
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* text elements */
h1 {
    padding: 1% 10px;
    margin: 0;
}

h1,
p {
    display: inline-flex;

    background-color: #D4EDED;
}

/* nav elements */
nav {
    flex: 0 1 auto;
    background-color: #F08080;
    font-weight: bolder;
}

/* main content */
/* .container {
    min-height: 88.2vh;
} */

main {
    flex: 1 1 auto;
    background-color: #A8DADC;
    margin: 5%;
    padding: 3%;
}

/* about me */
.index div {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1200px;
    margin: auto;
}

.index div img {
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    min-width: 200px;
    margin: 3%;
}

.index div .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1%;
}

.index div .content p {
    border-radius: 10px;
    max-width: 800px;
    min-width: 200px;
    margin: 5px;
    padding: 1%;
}

/* portfolio */
.portfolio .col-lg-6 {
    margin: auto;
}

.portfolio img {
    display: block;
    padding: 15px 0;
    width: 100%;
}

.inline-elements {
    display: flex;
    justify-content: space-between;
}

/* contact */
.contact button {
    background-color: #595959;
}

.social-icons {
    margin: auto 0;
}

.social-icons i {
    padding: 6px 0 0 15px;
    font-size: 1.5em;
    color: #4e4e4e;
    text-decoration: none;
}

/* footer */
footer {
    flex: 0 1 auto;
    color: white;
    text-align: center;
    background-color: #457B9D;
    padding: 15px 0 20px;
}

.decor {
    flex: 0 1 auto;
    background-color: #F08080;
    padding: 5px;
}